[submodule "Adafruit_Python_DHT"]
	path = humidity
	url = https://github.com/adafruit/Adafruit_Python_DHT.git
[submodule "tweet-a-watt"]
	path = tweet-a-watt
	url = https://github.com/adafruit/Tweet-a-Watt.git
